#header {
	height: 50px;
	line-height: 50px;
	background: #edf6fa;
}

#header .title{
	margin: 0 auto;
    text-align: center;
    font-size: 1.8em;
    letter-spacing: .2em;
    font-weight: 400;
}

/* #header div{
	float: right;
	box-sizing: border-box;
} */

/* #header div input[type="button"] {
	padding: 4px 16px;
	border-radius: 4px;
	background: #379b8c;
	margin-right: 30px;
	color: #fff;
	cursor: pointer;
	border: 0px;
}

#header div input[type="button"]:hover {
	background: #268878;
} */

#config {
	height: 50px;
	line-height: 50px;
	background: #edf6fa;
}

#config .checkbox {
	float: left;
	box-sizing: border-box;
	margin-left: 20px;
}

#config .checkbox input {
	margin: 10px;
}

#config div{
	float: right;
	box-sizing: border-box;
}

#config div input[type="button"] {
	padding: 4px 16px;
	border-radius: 4px;
	background: #379b8c;
	margin-right: 30px;
	color: #fff;
	cursor: pointer;
	border: 0px;
}

#config div input[type="button"]:hover {
	background: #268878;
}

.scene {
  width: 100%;
}

.scene img {
  width: inherit;
  user-select: none;
}

body{ overflow-x: hidden;}

.flowmsg {
  width: 100%;
  display: none;
}

.flowmsg table {
  width: inherit;
  border-collapse:collapse;
  border: 2px solid #000;
  text-align: center;
}

.flowmsg table td {
  border-bottom: 2px solid #888;
  border-right: 1px dashed #000;
  width: 14%;
  height: 40px;
  font-size: 1.1em;
}

.flowmsg table .first {
  background: rgb(62, 203, 148);
}

.flowmsg table .new_message_hint {
  position: absolute;
  font-size: 0.7em;
  color: red;
  margin-left: 10px;
  margin-top: 2px;
}

.node {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  position: absolute;
  background: #ff4510;
}

.label_msg {
	padding: 0px;
  margin: 0px;
  position: relative;
  width: 130px;
    left: -55px;
    top: -1px;
	display: none;
}

.label_msg .label_p {
	padding: 0px 3px;
	background: white;
	border: 1px solid grey;
  border-radius: 4px;
}

.label_msg p{
	margin: 0px;
	font-size: 0.8em;
}

.label_msg .tria {
  postion: absolute;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 5px solid grey;
  margin: 0 auto;
}

/* #alarm_wrap{
	width:300px;
	position: absolute;
	height: 150px;
	left: 600px;
	top: 20px;
	background:transparent;
	border: 3px solid red;
	border-radius: 6px;
} */

#alarm_wrap .hint{
	position: absolute;
	height: 0px;
	width: auto;
	height: auto;
}

#alarm_wrap .hint .trai{
	width: 0;
    height: 0;
    margin: 0;
    left: -9px;
    top: 4px;
    border-left: 9px solid transparent;
    border-bottom: 9px solid red;
    border-right: 9px solid transparent;
    margin: 0 auto;
}

#alarm_wrap .hint .message_wrap{
	width: 140px;
    height: auto;
    background: #FFF;
    border: 2px solid red;
    text-align: center;
    border-radius: 4px;
}

#alarm_wrap .hint .message_wrap p:not(:last-child){
	margin: 0px;
	padding: 0px;
	border-bottom: 1px dashed grey;
}

.circle{
	width: 10px;
	height: 10px;
	background: #ff5622;
}

.label:hover .label_msg{
	display: block;
}

